<div class="container" ng-controller="cartController">
    <p></p>
    <h3>Корзина</h3>
    <p></p>
    <div ng-show="cart.items.length > 0">
        <table class="table table-hover">
            <thead>
            <tr>
                <td>Название</td>
                <td>Количество</td>
                <td>Цена</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ci in cart.items">
                <td>{{ci.productTitle}}</td>
                <td>{{ci.quantity}}</td>
                <td>{{ci.pricePerProduct + ' x ' + ci.quantity + ' = ' + ci.price}}</td>
            </tr>
            <tr>
                <td></td>
                <td>Итого:</td>
                <td>{{cart.totalPrice}}</td>
            </tr>
            </tbody>
        </table>
        <p></p>
        <form class="align-middle" ng-show="isUserLoggedIn()">
            Адрес доставки<br>
            <textarea id="userAddress" cols="40" rows="3"
                      aria-describedby="inputGroup-sizing-sm"></textarea><br>
            Телефон<br>
            <input id="userPhone" type="text" size="20" maxlength="20"
                   aria-describedby="inputGroup-sizing-sm"><p></p>

            <button id="navLoginSubmit" class="btn btn-outline-warning btn-sm"
                    ng-click="createOrder()">Оформить заказ</button>
        </form>
        <button class="btn btn-secondary" ng-click="guestCreateOrder()" ng-show="!isUserLoggedIn()">Оформить заказ</button>
    </div>
    <div ng-show="cart.items.length == 0">
        <p>Ваша корзина пуста</p>
    </div>
</div>
